body {
  font-family: 'cursive', 'comic-sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #008080 ;
  color: #fff;
  text-align: center;
}

h1, h2 {
  color: #fff;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  margin-top: 20px;
}

p {
  color: #fff;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 1500px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.th {
  background-color: #000000;
}

header {
 background-color: #000;
 background-image: url('https://lh3.googleusercontent.com/pw/ABLVV86VlNmD36zy_qXz50xCy25qa2ostSi3STO1-pTZ0raENsWTN_v6cHD0Yqb00GwWMTUTMwYSc_ho1DobzVa-JHRMnoGi-4iFzp0FvWMRPFB3h9bvd58jthxC_IPTV9RvKjWuE_XqS8xUHaHdCEiRItnDI-AAJbmGhFudfKyxub2ZE_RnvneHVJxmjEsmwFT40hbI4Izx5JQVMGsT5_xivToCUwoulIcyQd1384qrTrv95MA8UIbbJ7dbUjP61irutDXckUM2CfQnvXC6z6_7hjwpjr9mr5zpoeN9g6IXDouydQg1sQ3p-ig8CYbUv17N0OaUSlw6sO3VxcSpqDs59ICUcyxhT17qZppCyeVk51sVWpRcj_s6V4uXCStNTK7porY8VFWVkmiFUOGIz1mxL7TyoWkX4oA6PaZ5rutduGNXMN8hArJ4IBuVSfyBEhk-fNVQgnz2f_uYcZpnePS06oHgto_Hv7FgvVkUsxXb4D_IEKtfNs8Ko6BVO0GC3Oo9jt6MhItHPu9-W7RT9Zn4KF5j-NjRK-XEyWMtPGCmRcek1p66ZF39OTnZRFqxDQmdmwSi5JdCRkPdDwL1J5y_vjdqNEkqMcAT_Kl1I4ebEhmrOajFrDglFolfgUlD5q4TyBO-xcQ1MVEUeDtkPgs59_1rODHvlczU8lBrS4QJXfRnkJEGacjZF1E_700aUm1nU8XclQ6OPWuzDz5Lut65aiXwYSWRMo0aafzBmnF2xBELpT68pDeErJDUaN0ih4JQfy4j7p_BKDJSdOtpP9_BnELEBbX_xcA0ch5qWuodXh-urwlCa-OTkKXjQmcEWy_CCHujOnEtk5DWXrdNHA7sKJzU1WXoIdfGSPwJCIUZfAul4vCcmAs4bb0s5YTz8byXGmtQng=w1280-h526-s-no-gm?authuser=0');
 background-repeat: no-repeat;
 background-size: cover; /* This will make the background image cover the entire header */
 background-position: center; /* Center the background image */
 height: 800px; /* Set the height of your header */
 text-align: center; /* Center text within the header if needed */
 color: white; 
 padding: 20px; 
}

ul {
  display: table;
  margin: 0 auto;
}


