body {
  font-family: baskerville;
  margin: 0;
  padding: 0;
  background-color: #008080 ;
  color: #fff;
  text-align: center;
}

h1, h2 {
  color: #fff;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  margin-top: 20px;
}

p {
  color: #fff;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

iframe {
  width: 100%;
  height: 1500px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.th {
  background-color: #000000;
}

header {
 background-image: url('https://lh3.googleusercontent.com/pw/ABLVV86E0eqvRLNbLAhKGrsoJOH8wiwgXpNfPjNSzfKqJlt9Ex2O-zK73vwoFwfiF8etIkJuz9qJ7-jeZAxlFBVjmNhsGSKXRgqEZB61fu_TvIjhYSwFcBEH3v2BrPLq0kcicA-ZhTcI2oCcxontQJ8ty9G9CDyCpJrryuZwFrLKZFQqIp4wYldyWSlxMbpBfaOwi65y-WnXvmiqW_dksxVSrcbtFSZbkqlBXYZenmiZ1B0MVB35qMnNXDw9hmkQoKRXIwLxct8rIneT6tUtvLQwccpzcVmn9mI6yMZnFpOLWHjWyJhYwMnM4j8dLKFv1WGrAKsPCT_JmEHqkOPcUtK0TJwaDaalUE0KuOEtUoZe4tyQJaOf-tYkS70D3EWZ43IlazdH2gAU9A7yQrqz9V1zwKJnLLeL2-LY4h9YNpAulsN_O9F39JAPZQQOZMr_pQPpW9IRgPoeme2ksm7tbZLaOnk-Fq8aRisYYQ5yWfvvXcpPdWI_Et89wDXJ_TQ_77RWMnnOOfZcjdvI3ic4RmRANU8ev9_tTdhJnRnkZx7AKyCT5sqMmahO0BWxZWFjGTOqiPRVk6zJqWD6vqAyFclglqkT_GPEqH4Al9ofD0mRQkaYhnb19zeh66RedfjnaEavg72GsXVah7gGcj_TCcQ1vorsDBEWPh18OKVpXE3wxeHunBageKZ_ADGGCFklffsNE4Th1o0oyPfeyvsQ1k68394iVBQFOLRAP6GtzlLxL5vjdzmJlnzp2QIG1Bhwu2tBPwAqxWUkDCwlFZLZKrWebnUGgo2vSvV-fp91Dskfhmx6ebjqk4Kis3fj8kuRXTEycWOEETCfB1CGsw7kblPnhigw9Jb289QsV5wsaQlqkPy4FjYAqlKpxB3BKlVP3ab-HgS4XA=w1280-h526-s-no-gm?authuser=0');
 background-repeat: no-repeat;
 background-size: cover; /* This will make the background image cover the entire header */
 background-position: center; /* Center the background image */
 height: 500px; /* Set the height of your header */
 text-align: center; /* Center text within the header if needed */
 color: white; 
 padding: 20px; 
 background-color: #000000;
}

ul {
  display: table;
  margin: 0 auto;
}

 footer {
      text-align: center;
      padding: 10px;
      background-color: #008080;
      color: #fff;
      margin-top: auto;

